{{!-- We can consider if we will have time to explore this --}}
<div class="comments">
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{comment.comment_text}}
            </div>
            <div class="meta">
                {{user.username}}, {{format_date created_at}}
            </div>
        </section>
    </div>
</div>