<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cucumber-OR-Pickle</title>
  <link rel="stylesheet" href="./style.css">
  <!-- Link to the Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <!-- Link to tailwinds -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Font Awesome (CSS Kit)-->
  <script src="https://kit.fontawesome.com/b3f46e2a2f.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body class="hero">
  <nav>
   <!--Fixed Nav Bar: when user scrolls through the screen, the Nav Bar remains on top of the screen. -->
    <header class="bg-blue-500">
      <div
        class=" px-4 py-4 flex justify-between items-center bg-white fixed top-0 z-30 w-full px-1 py-3 bg-white sm:px-4 shadow-xl">

        {{!-- need a route for home page --}}
        <a  href="/">
        <blockquote class="text-6xl p-6 font-semibold italic text-start text-slate-900">
          Cucumber
          <span
            class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-blue-500 relative inline-block">
            <span class="relative text-white">or</span>
          </span>
          Pickle
        </blockquote>

        </a>
               {{#if logged_in}}
              <a class="lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900  font-bold  rounded-xl transition duration-200"
                href="/profile">Your Profile</a>
              <button
                 class="no-button lg:inline-block py-2 px-6 bg-pink-500 hover:bg-pink-600 text-sm text-white font-bold rounded-xl transition duration-200"
                id="logout">Logout</button>
      
              {{else}}

              <a class="lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200"
               href="/login">Login</a>
               <a class="no-button lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200"
               href="/signup">Sign up</a>

              {{/if}}

      </div>
    </header>
  </nav>


  <main>
    <div>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
      {{{body}}}
    </div>
  </main>

  <footer class=" fixed bottom-0 z-30 w-full columns-1 flex items-center justify-center space-x-11 bg-white text-black"
    id="contact-us">

    <!-- Contact Info -->
    <section class="flex text-center py-1 gap-10 contact">
      <p class="py-1 self-center"></p>
      <!-- Font Awesome icons: FB, GitHub -->
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i
          class="fa-brands fa-facebook"></i></a>
      <a href="https://github.com/anryl050/cucumber-or-pickle.git" target="_blank" rel="noopener noreferrer"><i
          class="py-1 self-center fa-brands fa-github"></i></a>
    </section>

    <!-- Copyright Info -->
    <section class="py-1 flex self-center gap-3">

      <!-- Font Awesome - Shoe prints -->
      <p>© </p> <i class="py-1 flex self-center gap-3 fa-solid fa-jar"></i>
      <p>Pickled Cucumber, Inc.</p>
    </section>
  </footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./logout.js"></script>
  {{/if}}

</body>

</html>