<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome </h1>
  </header>
  <nav>
    <a href="/">Home</a>
  </nav>
  <main>
    <aside>
      <h2>Enjoy !</h2>
    </aside>
    <div class="blog">
      {{{body}}}
    </div>
  </main>
</body>

</html>