<section id="" class="place-content-center pt-40 pb-40">

    <section class=" flex flex-col flex-wrap justify-center py-20 gap-5">

                                                {{!-- The functionalities for remembering the user, resetting password and navigating to Sign up page are the improvement features for the future releases --}}
                                                {{!-- <div class="ml-3 text-sm">
                                                  <label for="remember" class="text-gray-500 ">Remember me</label>
                                                </div>
                                            </div>
                                            <a href="#" class="text-sm font-medium text-primary-600 hover:underline ">Forgot password?</a>
                                        </div>--}}
                                        <button type="submit" class="w-full text-white bg-blue-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Login</button> 
                                        {{!-- <p class="text-sm font-light text-gray-500 ">
                                            Don’t have an account yet? <a href="#" class="font-medium text-primary-600 hover:underline ">Sign up</a>
                                        </p> --}}
                                    </form>

                                </div>
                                {{!-- <div class="flex items-center justify-between">
                                    <div class="flex items-start">
                                        <div class="flex items-center h-5">
                                            <input id="remember" aria-describedby="remember" type="checkbox"
                                                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                                                required="">
                                        </div> --}}

                                        {{!-- The functionalities for remembering the user, resetting password and
                                        navigating to Sign up page are the improvement features for the future releases
                                        --}}
                                        {{!-- <div class="ml-3 text-sm">
                                            <label for="remember" class="text-gray-500 ">Remember me</label>
                                        </div>
                                    </div>
                                    <a href="#" class="text-sm font-medium text-primary-600 hover:underline ">Forgot
                                        password?</a>
                                </div>--}}
                                <button type="submit"
                                    class="w-full text-white bg-blue-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Login</button>
                                {{!-- <p class="text-sm font-light text-gray-500 ">
                                    Don’t have an account yet? <a href="#"
                                        class="font-medium text-primary-600 hover:underline ">Sign up</a>
                                </p> --}}
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </section>
</section>

<script src="./js/login.js"></script>