.hero {
    height: auto;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/public/background.webp");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    position: relative;
}